# Registration service
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password

MULTIPLE_CADDY_GLOBAL=false

# Server address (IP)
# Examples: 192.168.1.100
VPN_SERVER_ADDRESS=192.168.1.100
VPN_SERVER_PORT=42815
VPN_ADMIN_SERVER_ADDRESS=mywireguard.example.com